@model ChessTD2.Models.Tournament

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { tID = Model.TournamentID })


</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Sections) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SectionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SectionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SectionID })
        </td>
    </tr>
}

</table>
